In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\kuruv\Downloads\Salary_Data.csv")
data

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [4]:
data.mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

In [5]:
data['Salary'].mean()

76003.0

In [6]:
data['YearsExperience'].mean()

5.3133333333333335

In [8]:
data.median()

YearsExperience        4.7
Salary             65237.0
dtype: float64

In [9]:
data['Salary'].median()

65237.0

In [10]:
data['YearsExperience'].median()

4.7

In [13]:
data['Salary'].mode().to_frame()

    Salary
0    37731
1    39343
2    39891
3    43525
4    46205
5    54445
6    55794
7    56642
8    56957
9    57081
10   57189
11   60150
12   61111
13   63218
14   64445
15   66029
16   67938
17   81363
18   83088
19   91738
20   93940
21   98273
22  101302
23  105582
24  109431
25  112635
26  113812
27  116969
28  121872
29  122391

In [14]:
data.var()

YearsExperience    8.053609e+00
Salary             7.515510e+08
dtype: float64

In [15]:
data['Salary'].var()

751550960.4137931

In [16]:
data.std()

YearsExperience        2.837888
Salary             27414.429785
dtype: float64

In [17]:
data['Salary'].std()

27414.4297845823

In [18]:
from scipy.stats import variation
variation(data.values) #Returns coefficient of variation which means the ratio of standard Deviation to the mean

array([0.5251297 , 0.35463929])

In [19]:
variation(data['Salary'])

0.3546392938275572

In [20]:
data.corr()
# Returns corelation which means a statistical measure that expresses the extent to which two variable are linearly related

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [21]:
data.skew()

YearsExperience    0.37956
Salary             0.35412
dtype: float64

In [22]:
data['Salary'].skew()

0.35411967922959153

In [23]:
data.sem()

YearsExperience       0.518125
Salary             5005.167198
dtype: float64

In [24]:
data['Salary'].sem()

5005.167198052405

In [25]:
import scipy.stats as stats
data.apply(stats.zscore)

    YearsExperience    Salary
0         -1.510053 -1.360113
1         -1.438373 -1.105527
2         -1.366693 -1.419919
3         -1.187494 -1.204957
4         -1.115814 -1.339781
5         -0.864935 -0.718307
6         -0.829096 -0.588158
7         -0.757416 -0.799817
8         -0.757416 -0.428810
9         -0.578216 -0.698013
10        -0.506537 -0.474333
11        -0.470697 -0.749769
12        -0.470697 -0.706620
13        -0.434857 -0.702020
14        -0.291498 -0.552504
15        -0.148138 -0.299217
16        -0.076458 -0.370043
17        -0.004779  0.262859
18         0.210261  0.198860
19         0.246100  0.665476
20         0.532819  0.583780
21         0.640339  0.826233
22         0.927058  0.938611
23         1.034577  1.402741
24         1.213777  1.240203
25         1.321296  1.097402
26         1.500496  1.519868
27         1.536336  1.359074
28         1.787215  1.721028
29         1.858894  1.701773

In [26]:
a=data.shape[0]
b=data.shape[1]
degree_of_freedom=a-b
degree_of_freedom

28